* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(212, 187, 235);
}

.Game-name {
  display: flex;
  justify-content: center;
  font-family: cursive;
  padding-top: 12px;
  font-size: 32px;
}

.main-container {
  width: 100%;
  display: flex;
  gap: 24px;
  padding-top: 30px;
}

.container {
  display: grid;
  gap: 6px;
  margin: auto;

}

#card-container {
  justify-content: center;
  width: 70%;
}

.card-game24 {
  grid-template-columns: repeat(8, 1fr);
}

.card-game12 {
  grid-template-columns: repeat(4, 1fr);
}

.container div {
  width: 100%;
  height: 250px;
  border: 1px solid rgb(19, 17, 17);
  border: 2px solid plum;
  border-radius: 8px;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  object-fit: cover;
}

.container div img {
  display: grid;
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.game-box {
  display: grid;
  width: fit-content;
}

.button-box {
  width: fit-content;
  display: inline-grid;
  gap: 8px;
  height: 30px;
  cursor: pointer;
}

.button-box button {
  width: 100%;
  padding: 16px 32px;
  font-size: 16px;
  font-family: cursive;
  border-radius: 8px;
  border: 2px solid plum;
  cursor: pointer;
}

.button-box button:hover {
  background-color: rgb(134, 100, 165);
  color: white;
}

.score-restart-box {
  margin-top: 100px;

}

p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 24px;
}

.restart-button {
  background: rgb(32, 201, 32);
  width: 100%;
}

.flipped {
  transform: rotateY(180deg);
}

#loader {
  display: none;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: blue;
  margin-top: 30px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;

}

.popup p {
  color: #05077e;
}

.popup-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 2px solid #888;
  border-radius: 8px;
  width: 1000%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}